*{
    margin: 0;
    padding: 0;
}
body{
    color: #e3e3e3;
    background-color: #343434;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-bottom: 50px;
}
.form{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.form input{
    width: 400px;
    height: 30px;
    border-radius: 5px;
    border: solid 3px #343434;
    margin-bottom: 10px;
    font-size: 17px;
    color: #111111;
}
.form input:hover{
    border: solid 3px #059862;
}
input::placeholder {
    padding: 20px;
}
textarea{
    width: 400px;
    border-radius: 5px;
    border: solid 1px rgb(202, 202, 202);
    border: solid 3px #343434;
}
textarea:hover{
    border: solid 3px #059862;
}
.container{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
.botao{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: #059862;
    color: #e3e3e3;
    font-size: 17px;
    margin-top: 20px;
    cursor: pointer;
}
.botao:hover{
    background-color: #068959;
}
.endereco iframe{
    border-radius: 5px;
}